<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.bloc.android.blocly">

    <application android:name=".BloclyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.BloclyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

    TextView textElement;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);

        TextView newtext = (TextView) findViewById(R.id.idName);
    }

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);

        TextView textElement = (TextView) findViewById(R.id.this_is_id_name);
        textElement.setText("I love you"); //leave this line to assign a specific text
        textElement.setText(R.string.my_love_text); //leave this line to assign a string resource
    }

</manifest>
